html, body {
  background-color: #ccc;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  height: 50px;
}

.form {
  width: 100% auto;
  height: 50px;
  margin-bottom: 50px;
  display: inline-block;
}