.cards {
  width: 100%;
  height: 100%; 
  display: grid; 
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  grid-column-gap: 1px;
  grid-row-gap: 100px;
}

.image {
  width: 150px;
  height: 200px;
}